.userHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.userButton {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    flex-grow: 1;
    text-align: center;  /* Centering the "USERS" text */
    border-radius: 8px;  /* Adding rounded corners */
}

.editButton {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;  /* Adding rounded corners */
}